<span>Navigation completion</span>
<div class="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width:33%" > 33%</div>
</div>


<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>

  <ul class="list-group">
  	<li class="list-group-item" ng-repeat="item in catalog">
  	<product item="item"></product>
    <button class="btn btn-primary" type="button" ng-click="basket.add(item)">Buy</button>
    <button class="btn btn-danger btn-sm " type="button" ng-click="basket.remove(item)">Remove all from Wishlist</button>
    </li>
  </ul>

</div>
